.contact {
    margin: 3rem 0;
    display: flex;
    //flex-direction: row;
    @media (max-width: 1250px) {
      flex-direction: column-reverse;
    }
    .contact-box {
      position: relative;
      @media (max-width: 1250px) {
      }
      img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 100%;
        //width: 800px;
        @media (max-width: 1250px) {
        }
      }
    }
    .contact-text {
      display: flex;
      position: relative;
      flex-direction: row;
      flex-wrap: wrap;
      z-index: 10;
      padding: 1rem;
      //font-family: "Playfair Display", serif;
      //transform: translate(0%, 50%);
      background: rgba(#5562d5, 0.8);
      color: white;
      @media (max-width: 1250px) {
      }
      strong {
        font-weight: black;
      }
  
      @media screen and (min-width: 1250px) and (max-width: 1900px) {
        //font-size: 3.3em;
        //margin-left: -140px;
      }
      @media (max-width: 1250px) {
        //font-size: 3em;
        margin-left: 0;
        transform: none;
      }
    }
  
    .contact-details {
     // transform: translateY(50%);
      margin: auto auto;
      width: 50%;
      flex-direction: row;
      text-align: center;
      padding:2rem;
      i {
        font-size: 3rem;
      }
      .service-name {
        margin: 1rem 0;
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 3px;
        color: #55d6aa;
      }
      .button {
  
      }
    }
  
    .design,
    .web,
    .seo {
      color: white;
    }
  }